<div class="page-header">
  <h1>My posts</h1>
</div>

<div id="my-posts">
  <%= render @posts %>
</div>

<% if @posts.next_page %>
    <div id="infinite-scrolling">
      <%= will_paginate %>
    </div>
<% end %>